body {
  margin: 0;
  font-family: "Articulat";
    background-color: #1D1D2C !important;
    background-color: #1d1d2c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c21842' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232696be' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2369376f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2338b6c3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%231a3580' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23084796' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%233a538b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23167dc0' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%232f6b9e' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%230f6bb6' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23197ab5' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%232596c2' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
  font-family: 'Articulat';
  src: local('Articulat'), url(assets/fonts/ArticulatCF-Regular.woff2) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
